
{% extends 'music/base.html' %}
{% block title %} Song details {% endblock %}
{% block body %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <img src="{{ album.album_logo }}" alt="">
    <h1>{{ album.album_title }}</h1>
    <h3> {{ album.artist }}</h3>


    <form action="{% url 'music:favorite' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLQN3v9oyzVg1kD4fCPUVDyEM5RkcGWyPMfjZJyLyVg5wiGyaIcarRtQ"
                         alt="" style="height:12px;width: 12px;">

                {% endif %}
            </label>
            <br>

        {% endfor %}
        <input type="submit" value="submit">

    </form>
    <ul style="display:none">
        {% for song in album.song_set.all %}
            <li>{{ song.song_title }}-{{ song.file_type }}</li>
        {% endfor %}
    </ul>

{% endblock %}